# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Old
.vscode
.env
.venv
*.pycache
__pycache__/
*.csv
.DS_Store
*.DS_Store
.pytest_cache

node_modules/
.devcontainer
node_modules